.menu-container {
  background-color: #eee;
  min-height: 100%;
  padding: 16px;
  .logo {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .menu-items {
    margin-top: 36px;
    line-height: 30px;
    .menu-item {
      color: inherit;
      text-decoration: inherit;

      display: flex;
      cursor: pointer;
      span {
        margin: 0 6px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.09);
      }
    }
  }
}
