.card-container {
  border: 1px solid #666;
  width: 300px;
  .card-content {
    .image {
      height: 150px;
      img {
        height: 150px;
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }
    .texts {
      padding: 8px;
      line-height: 26px;
      .title {
        font-weight: bold;
      }
      .subtitle {
        width: "100%";
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        color: #999;
      }
      .description {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #999;
      }
    }
  }
}
