.list-page-container {
  .list-page {
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
  }
  .search {
    margin-bottom: 20px;
  }
  .planet {
    margin: 0 8px 8px 0;
  }
  .pagination {
    display: flex;
    justify-content: center;
  }
}
